<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SQlite BREAD</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body class="page1">
    <div class="container">
        <div class="head">
            <h1>SQLite BREAD(Browse, Read, Edit, Add, Delete) and Pagination</h1>
        </div>
        <form class="form-list" action="" method="get">
            <input type="hidden" name="page" value="1">
            <div class="box">
                <label for="name">Name</label>
                <input type="text" name="name" placeholder="insert your name" class="subForm"
                    value="<%= query.name %>" /><br>
            </div>
            <div class="box">
                <label for="height">Height</label>
                <input type="number" name="height" placeholder="insert your height" class="subForm"
                    value="<%= query.height %>" /><br>
            </div>
            <div class="box">
                <label for="weight">Weight</label>
                <input type="number" name="weight" step="0.0001" placeholder="insert your weight" class="subForm"
                    value="<%= query.weight %>" /><br>
            </div>
            <div class="date-group">
                <label for="birthdate">Birth Date</label>
                <input type="date" name="startdate" class="birth" value="<%= query.startdate %>" />
                <p>s.d.</p>
                <input type="date" name="enddate" class="birth" value="<%= query.enddate %>" /><br>
            </div>
            <div class="married-group">
                <label for="married">Is Married</label>
                <% if (query.married == "1") { %>
                <select name="married" class="subForm2">
                    <option disabled selected>-select married-</option>
                    <option value="0">Not Yet</option>
                    <option value="1" selected>Yes</option>
                </select>
                <% } else if (query.married == "0") { %>
                    <select name="married" class="subForm2">
                        <option disabled selected>-select married-</option>
                        <option value="0" selected>Not Yet</option>
                        <option value="1" >Yes</option>
                    </select>
                    <% } else { %>
                        <select name="married" class="subForm2">
                            <option disabled selected>-select married-</option>
                            <option value="0" >Not Yet</option>
                            <option value="1" >Yes</option>
                        </select>
                        <% } %>
            </div>
            <div class="radio-ctr">
                <label class="op-tag">Operation</label>
                <div class="box-rad">
                    <label class="form-control"><input type="radio" id="OR" name="operator" value="OR" <% if (query.operator=="OR" || !query.operator) { %>checked<% } %> />OR</label>
                    <label class="form-control"><input type="radio" id="AND" name="operator" value="AND" <% if (query.operator=="AND" ) { %>checked<% } %> />AND</label>
                </div>
            </div>
            <div class="btm-abv">
                <button class="btm-one" type="submit">Search</button>
                <a href="/" class="tombol">
                    <button class="btm-two" type="button">Reset</button>
                </a>
            </div>
        </form>
        <div class="line"></div>
        <div class="bagan">
            <table>
                <tr>
                    <th>No</th>
                    <th>Name</th>
                    <th>Height</th>
                    <th>Weight</th>
                    <th>Birth Date</th>
                    <th>Is Married</th>
                    <th>Actions</th>
                </tr>
                <% data.forEach((item, index)=> { %>
                    <tr>
                        <td>
                            <%= index + offset + 1 %>
                        </td>
                        <td>
                            <%= item.name %>
                        </td>
                        <td>
                            <%= item.height %>
                        </td>
                        <td>
                            <%= item.weight %>
                        </td>
                        <td>
                            <%= item.birthdate %>
                        </td>
                        <td>
                            <%= item.married !==null && item.married !==undefined ? (item.married ? 'Yes' : 'Not Yet' )
                                : '' %>

                        </td>
                        <td>
                            <div class="modi">
                                <a href="/edit/<%= item.id %>" class="btm"><button class="btm-update"
                                        type="button">Update</button></a>
                                <a href="/delete/<%= item.id %>" onclick="return confirmation('<%= item.name %>')"
                                    class="btm"><button class="btm-delete" type="button">Delete</button></a>
                            </div>
                        </td>
                    </tr>
                    <% }) %>
            </table>
        </div>
        <div class="footer">
            <div class="tbl-add">
                <a href="/add" class="tombol">
                    <button class="btm-add" type="button">Add</button>
                </a>
            </div>
            <div class="basket-pagi">
                <div class="pagination">
                    <% if (url.includes("page=")) { %>
                    <% if(page == '1') { %>
                        <a href="<%= url.replace(`page=${page}`, `page=${page}`) %>">&laquo;</a>
                    <% } else { %>
                        <a href="<%= url.replace(`page=${page}`, `page=${page - 1}`) %>">&laquo;</a>
                    <% } %>
                    <% } else { %>
                        <% if( page == '1') { %>
                            <a href="#">&laquo;</a>
                        <% } else { %>
                            <a href="/?page=<%= page - 1 %>">&laquo;</a>
                        <% } %>
                        <% } %>
                    <% for(let i =1; i <= pages; i++) { %>
                        <% if(url.includes("page=")) { %>
                            <% if (i == page) { %>
                                <a href="<%= url.replace(`page=${page}`, `page=${i}`) %>" class="<%= page == i ? 'active' : '' %>"><%= i %></a>
                            <% } else { %>
                                <a href="<%= url.replace(`page=${page}`, `page=${i}`) %>" class="<%= page == i ? 'active' : '' %>"><%= i %></a>
                            <% } %>
                        <% } else { %>
                            <% if (i == page) { %>
                                <a href="/?page=<%= i %>" class="<%= page == i ? 'active' : '' %>"><%= i %></a>
                            <% } else { %>
                                <a href="/?page=<%= i %>" class="<%= page == i ? 'active' : '' %>"><%= i %></a>
                            <% } %>
                        <% } %>
                    <% } %>
                    <% if (url.includes("page=")){ %>
                    <% if(page == pages) { %>
                        <a href="<%= url.replace(`page=${page}`, `page=${page}`) %>">&raquo;</a>
                    <% } else { %>
                        <a href="<%= url.replace(`page=${page}`, `page=${(page * 1) + 1}`) %>">&raquo;</a>
                    <% } %>
                    <% } else { %>
                        <% if ( page == pages) { %>
                            <a href="#">&raquo;</a>
                            <% } else { %>
                                <a href="/?page=<%= Number(page) + 1 %>">&raquo;</a>
                                <% } %>
                                <% } %>
                </div>
            </div>
        </div>
    </div>

    <!-- <div class="notif" id="notif">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Delete Confirmation</h4>
                    <p class="close" onclick="off()">&times;</p>
                </div>
                <div class="modal-body">
                    <p id="ask"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="off-click" onclick="off()">No</button>
                    <a id="nextdelete" class="nextdel" href="#">Yes</a>
                </div> -->

</body>


</html>
